.nvbar {
  font-family: montserrat;
  position: sticky;
  top: 0;
}
nav {
  height: 80px;
  width: 100%;
  background: #34495e;
}
label.logo {
  font-size: 35px;
  font-weight: bold;
  color: aliceblue;
  padding: 0 100px;
  line-height: 80px;
}
nav ul {
  float: right;
  margin-right: 40px;
}
nav li {
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}
nav a {
  color: aliceblue;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}
a.active,
a:hover {
  border-radius: 1px solid white;
  transition: 0.5s;
}
