* {
  transition-duration: 0.8s;
  text-decoration: none;
  /* *선택자는 html전체를 의미한다 */
}
body {
  margin: 0;
  padding: 0;
}
div {
  width: 100%;
  height: 100vh;
  font-size: 32px;
  text-align: center;
}
